<h1 class="mat-headline">
  F1 Gallery
</h1>
<p class="mat-body-1">
  Formula One (also Formula 1 or F1) is the highest class of single-seater auto racing sanctioned by the <dfn><abbr title="Fédération Internationale
  de l'Automobile">FIA</abbr></dfn> and owned by the Formula One Group. The FIA Formula One World Championship has been one of the premier
  forms of racing around the world since its inaugural season in 1950. The "formula" in the name refers to the set of rules
  to which all participants' cars must conform. A Formula One season consists of a series of races, known as Grands Prix
  (French for "grand prizes" or "great prizes"), which are held worldwide on purpose-built circuits and public roads.
</p>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        History
      </mat-panel-title>
      <mat-panel-description>
        Short history of Formula One
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="mat-body-1">
      The Formula One series originated with the European Grand Prix Motor Racing (q.v. for pre-1947 history) of the 1920s and
      1930s. The formula is a set of rules that all participants' cars must meet. Formula One was a new formula agreed upon
      after World War II during 1946, with the first non-championship races being held that year. A number of Grand Prix
      racing organisations had laid out rules for a world championship before the war, but due to the suspension of racing
      during the conflict, the World Drivers' Championship was not formalised until 1947. The first world championship race
      was held at Silverstone, United Kingdom in 1950. A championship for constructors followed in 1958. National championships
      existed in South Africa and the UK in the 1960s and 1970s. Non-championship Formula One events were held for many years,
      but due to the increasing cost of competition, the last of these occurred in 1983.[9] On 26 November 2017, Formula
      One unveiled its new logo following the 2017 season finale in Abu Dhabi during the Abu Dhabi Grand Prix at Yas Marina
      Circuit. The new logo replaces F1's iconic 'flying one', which has been the sport's trademark since 1993.
    </p>
  </mat-expansion-panel>
</mat-accordion>
