.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.formItem {
  width: 80%;
}

.root {
  text-align: center;
}

.images {
  margin: 10px;
}

.image {
  position: relative;
  display: inline-block;
  padding: 5px;
}

.thumbnailImage {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.thumbnailImage:hover {
  opacity: 0.7;
}

.imagePreviewModal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

/* Modal Content (Image) */
.imagePreviewModalContent {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#imagePreviewModalCaption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.imagePreviewModalContent, #imagePreviewModalCaption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
      width: 100%;
  }
}

.jpeg {
  border: 2px solid red;
}

.png {
  border: 2px solid green;
}
